@font-face {
    font-family: "Clear Sans";
    src: url("../src/clear-sans.ttf") format("truetype");
}

h2{
    text-align: center;
    color: rgb(2, 0, 36);;
    font-size: 2.4rem;
    font-family: "Clear Sans", sans-serif;
}

p{
    font-size: 1.2rem;
    margin: 1rem 0 2.4rem 0;
    line-height: 1.8rem;
    color: rgb(2, 0, 36);;
    font-weight: 400;
    font-family: "Clear Sans", sans-serif;
}

.container {
    margin: 1rem;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(195, 195, 195, 0.5);
    z-index: 99;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem;
    background-color: #fff;
    border-radius: 0.5rem;
    z-index: 99;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
}

.open-btn {
    margin-top: 10px;
    float: right;
    font-size: 50px;
    border: none;
    border-radius: 50%;
    color: #fff;
    size: 50%;
    cursor: pointer;
    transform: scale(0.9);
    background: transparent;
}

.open-btn:hover {
    border: #212121;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.1s;
}
.close-btn {
    padding-top: 10px;
    margin-top: 15px;
    float: right;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    color: #000;
    size: 50%;
    cursor: pointer;
    transform: scale(0.9);
    background: transparent;
    justify-content: center;
}

.close-btn:hover {
    border: #212121;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.1s;
}